<div class="container">
 
    <div class="row">

    <div class="col-md-6">

      <p><b>Video Tutorials</b></p>
      <div *ngFor="let elem of panelArray">

      <div class="row">
         <div class="box">
        <div class="col-md-3">
            <img src="{{elem.ImgDir}}" class=" test avatar">

        </div>
        <div class="col-md-5">
            <h5><b>{{elem.Description1}}</b></h5>
            <p>{{elem.Description2}}</p>
          </div>
          <div class="col-md-4">
              <button class="button">Play Video</button>
      </div>
      </div>
     
      </div>
      </div>
    </div>

    <div class="col-md-6 box1">
      <p><b>Recent updates</b></p>
  
      <div class="row ">
       
        <div class="col-md-1">
          <button type="button" class="btn info" data-toggle="collapse" data-target="#demo1">1</button><br><br>

      </div>
            <div class="col-md-11">
              <p><b>QRay is a constructor function you can find within QRay.js inside this repository, you can either import it using require if you are on Node.js or by using the script tag within your HTML document</b> </p>
           <div id="demo1" class="collapse">
    A typical day in an entrepreneur’s life is incomplete without meetings, numerous pending emails, and a daily to-do list. There's a sense of relief in the act of crossing off all items on the to-do list at the end of the day.
  </div>
</div>
</div>
  
  <div class="row">
   <div class="col-md-1">
          <button type="button" class="btn info" data-toggle="collapse" data-target="#demo2">2</button><br><br>
        </div>
        <div class="col-md-11">
          <p><b>Angular 2.0 was announced at the ng-Europe conference 22-23. October 2014. The drastic changes in the 2.0 version created considerable controversy among developers.</b></p>
           <div id="demo2" class="collapse">
   Important tasks which fail to get addressed within the required scope, time or quality demands may at some time get transformed into urgent tasks. 
  
 </div>
</div>
</div>
<div class="row">
 <div class="col-md-1">
          <button type="button" class="btn info" data-toggle="collapse" data-target="#demo3">3</button><br><br>
        </div>
        <div class="col-md-11">
          <p><b>Angular 7 release will be showing up in September or October 2018. Each version is expected to be backward-compatible with the prior release. Google pledged to do twice-a-year upgrades.

</b></p>
           <div id="demo3" class="collapse">
 But how can one decide what needs to be done first, and what can wait? Understanding the difference between urgent and important can further help entrepreneurs to achieve greater productivity.
          </div>
          </div>

        </div>

          <div class="row">
   <div class="col-md-1">
          <button type="button" class="btn info" data-toggle="collapse" data-target="#demo4">4</button><br><br>
        </div>
        <div class="col-md-11">
          <p><b>Angular 2.0 was announced at the ng-Europe conference 22-23. October 2014. The drastic changes in the 2.0 version created considerable controversy among developers.</b></p>
           <div id="demo4" class="collapse">
   Important tasks which fail to get addressed within the required scope, time or quality demands may at some time get transformed into urgent tasks. 
  
 </div>
</div>
</div>
      </div>
    </div>

  


